body{
    position: relative;
    background-image: repeating-radial-gradient(red 5%, blue 20%, green 30%);
    margin: 20px;
}


h1{
    margin: 0px;
    text-align: center;
    color: #57da06;
    font-family:'Roboto Mono', monospace;
    background-color: #1436ff;
    padding: 20px;
    border-radius: 6em;

}

img{
    position: relative;
    border-radius: 50px;
}
.column {
    font-family:'Roboto Mono', monospace;
    background-color: #ff4554;
    color: #FFFB08;
    float: right;
    width: 33.33%;
    padding: 20px;
    margin: 30px;
    align-content: center;
    position: relative;
    left: 20px;
}
